body {
  text-align: center;
  background-color: #011F3F;
}

ul {
  list-style: none;
  padding: 5px;
  margin-top: 10px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.info-btn {
  background-color: #164272;
  margin: 25px;
  display: inline-block;
  height: 50px;
  width: 200px;
  border-radius: 10%;
}

.info-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  line-height: 30px;
  color: #FEF2BF;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info-panel {
  background-color: #164272;
  height: 400px;
  width: 400px;
  border-radius: 10%;
}

.footer-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin-top: 3%;
  line-height: 30px;
  color: #164272;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
